---
layout: blog
permalink: blog
---

{% for post in site.posts %}
 
      {% if forloop.first == true %}
          <div class="docs-section examples top" id="posts">
      {% else %}
          <div class="docs-section examples" id="posts">
      {% endif %}

      <article class="post">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
       
        <div class="entry">
          {{ post.content | truncatewords:50}}
        </div>
       
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article></div>
      
{% endfor %}
