---
layout: lab
title: Love Lab
---

<a class="anchor" id="about"></a>
<div class="docs-section examples top">
  <h2><a href="#about">About <i class="fas fa-link anchor-link"></i></a></h2>
  <p>Welcome to the UCL Love Lab, a learning and decision making lab based at <a href="https://www.ucl.ac.uk/">UCL</a> <a href="https://www.ucl.ac.uk/pals/research/experimental-psychology/">Experimental Psychology</a> department and headed by <a href="{{ site.url }}">Prof. Brad Love</a>.
  </p>
  <p>We are interested in understanding how humans learn and make decisions through formal modelling and behavioural approaches combined with functional neuroimaging. For more details refer to our <a href="#publications">publications</a>
  </p>
  <p>Our lab motto is "<a href="//bradlove.org/blog/ipa-motto">Inclusive, Productive, Accountable</a>" or IPA for short, cheers!</p>
</div>

<a class="anchor" id="people"></a>
<div class="docs-section examples">
  <h2><a href="#people">People <i class="fas fa-link anchor-link"></i></a></h2>
  The Love Lab consists of a <a href="#lab-manager">lab manager</a>, <a href="#postdocs">postdocs</a>, and <a href="#phd-students">PhD students</a>. See below for more details.
  {% include people.html %}
  </div>

  <a class="anchor" id="press"></a>
  <div class="docs-section examples">
    <h2><a href="#press">Press <i class="fas fa-link anchor-link"></i></a></h2>
    {% capture media %}{% include media.md %}{% endcapture %}{{ media | markdownify }}
  </div>

  <a class="anchor" id="resources"></a>
  <div class="docs-section examples">
    <h2><a href="#resources">Resources <i class="fas fa-link anchor-link"></i></a></h2>
    {% include resources.html %}
  </div>

  <a class="anchor" id="publications"></a>
  <div class="docs-section examples">
    <h2><a href="#publications">Publications <i class="fas fa-link anchor-link"></i></a></h2>
    {% capture publications %}{% include publications.md %}{% endcapture %}{{ publications | markdownify }}
  </div>
</div>
