<p><a href="mailto:&#98;&#46;&#108;&#111;&#118;&#101;&#64;&#117;&#99;&#108;&#46;&#97;&#99;&#46;&#117;&#107;"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    Bradley C. Love<br>
    University College London<br>
    Experimental Psychology<br>
    <a href="{{ site.baseurl}}/images/BradLoveOffice.jpg">26 Bedford Way, Room 228</a><br>
    WC1H 0AP<br>
    London, UK 
</p>
            
<p class = "social">
  <a href="https://twitter.com/DrLoveBC"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href= "https://www.researchgate.net/profile/Bradley_Love"><i class="ai ai-researchgate"></i></a>
  <a href= "https://scholar.google.co.uk/citations?user=H8dnlegAAAAJ&hl=en"><i class="ai ai-google-scholar"></i></a>
  <a href="http://orcid.org/0000-0002-7883-7076"><i class="ai ai-orcid"></i></a>
</p>
