<p>  
<a href="https://www.ukri.org/councils/esrc/">
<img src= "{{ site.baseurl}}/images/esrc.png"   class="u-max-full-width"></a>

<a href="https://www.microsoft.com/en-us/research/collaboration/accelerating-foundation-models-research/">
<img src="{{ site.baseurl }}/images/ms.png" class="u-max-full-width"></a>

<a href="http://royalsociety.org">
<img src="{{ site.baseurl }}/images/The-Royal-Society-logo.jpg" class="u-max-full-width"></a>


<a href="https://foresight.org/">
<img src="{{ site.baseurl }}/images/The-Royal-Society-logo.jpg" class="u-max-full-width"></a>
  
</p>
