<section class="header" >
  <h1><a href="{{ site.url }}" style = "text-decoration: none; color: #222">{{ site.name }}</a></h1>

   <a href="{{ site.url }}">
  <div class="row">

    <div class="three columns banner-large"> <!-- this is the three-image banner for larger screens -->
      <img class="u-max-full-width" src="{{ site.baseurl }}/images/people/brad2.jpg">
    </div>
    <div class="six columns banner-large">
      <img class="u-max-full-width" src="{{ site.baseurl }}/images/logo3.png" alt="Be braver, comrade! Transparency is our power!"
      title="Be braver, comrade! Transparency is our power!">
    </div>
    <div class="three columns banner-large">
      <img class="u-max-full-width" src="{{ site.baseurl }}/images/walk.png">
    </div>

    <div class="one column banner-small"> <!-- this is the banner for smaller screens -->
      <img class="u-max-full-width" src="{{ site.baseurl }}/images/banner.png" alt="Be braver, comrade! Transparency is our power!"
      title="Be braver, comrade! Transparency is our power!">
    </div>

  </div></a>
</section>
