<section class="header" >
  <h1><a href="/">Bradley C. Love</a></h1>
  
   <div class="row">
     
    <div class="three columns banner-large"> <!-- this is the three-image banner for larger screens -->
      <img class="u-max-full-width" src="images/brad.png">
    </div>
    <div class="six columns banner-large">
      <img class="u-max-full-width" src="images/logo.png">
    </div>
    <div class="three columns banner-large">
      <img class="u-max-full-width" src="images/walk.png">
    </div>
    
    <div class="one column banner-small"> <!-- this is the banner for smaller screens -->
      <img class="u-max-full-width" src="images/banner.png">
    </div>
    
  </div>
</section>
