<div class="navbar-spacer"></div>

<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">

      <li class="navbar-item"> <!-- link to top(-ish) of page -->
        <a class="navbar-link" href="{{ site.baseurl }}/lab">Lab</a>
      </li>
      
      <li class="navbar-item"> 
        <a class="navbar-link" href="#about">About</a>
      </li>
      
    <li class="navbar-item"> <!-- this makes it make a cool drop-down thing -->
            <a class="navbar-link teeny-hide" href="#" data-popover="#peopleNavPopover">People</a>
            <div id="peopleNavPopover" class="popover">
              <ul class="popover-list">

                <li class="popover-item">
                  <a class="popover-link" href="#people">All</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#pi">PI</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#lab-manager">Lab Manager</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#postdocs">Postdocs</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#phd-students">PhD Students</a>
                </li>

              </ul>
            </div>
          </li>
                
      <li class="navbar-item">
        <a class="navbar-link medium-hide" href="#press">Press</a>
      </li>
      
      <li class="navbar-item">
        <a class="navbar-link tiny-hide" href="#publications">Publications</a>
      </li>
      <li class="navbar-item"> <!-- this makes it make a cool drop-down thing -->
      <a class="navbar-link tiny-and-below" href="#" data-popover="#moreLabNavPopover"
      style="font-family:Monospace; font-size:2rem">+</a>
      <div id="moreLabNavPopover" class="popover">
        <ul class="popover-list">
          <li class="popover-item">
            <a class="popover-link tiny-and-below" href="#publications">Publications</a>
          </li>
          <li class="popover-item">
            <a class="popover-link medium-and-below" href="#press">Press</a>
          </li>
          <li class="popover-item">
            <a class="popover-link teeny-and-below" href="#people">People</a>
          </li>
        </ul>
      </div>
    </li>
    </ul>
  </div>
</nav>
