<div class="navbar-spacer"></div>

<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">

      <li class="navbar-item"> <!-- link to top(-ish) of page -->
        <a class="navbar-link" href="{{ site.baseurl }}/lab">Lab</a>
      </li>
      
      <li class="navbar-item"> 
        <a class="navbar-link" href="{{ site.baseurl}}/about">About</a>
      </li>
      
      <li class="navbar-item">
        <a class="navbar-link" href="{{ site.baseurl }}/people">People</a>
      </li>
    </ul>
  </div>
</nav>
