<div class="navbar-spacer"></div>

<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      
      <li class="navbar-item"> <!-- link to top(-ish) of page -->
        <a class="navbar-link" href="#intro" class="small-hide">Intro</a>
      </li>
      
      <li class="navbar-item"> <!-- this makes it make a cool drop-down thing -->
        <a class="navbar-link" href="#" data-popover="#codeNavPopover">Lab</a>
        <div id="codeNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="{{ site.baseurl}}/lab">About</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="{{ site.baseurl}}/lab/people">People</a>
            </li>
          </ul>
        </div>
      </li>
      
      <li class="navbar-item">
        <a class="navbar-link" href="/blog">Blog</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#publications" class="small-hide">Publications</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#cv" class="small-hide">CV</a>
      </li>
        
      <li class="navbar-item">
        <a class="navbar-link" 
        href="mailto:&#98;&#46;&#108;&#111;&#118;&#101;&#64;&#117;&#99;&#108;&#46;&#97;&#99;&#46;&#117;&#107;"
        class="small-hide">
          Contact</a>
      </li>
      
    </ul>
  </div>
</nav>
