{% assign people = site.people | sort: 'surname' %}

{% assign postdocs = site.array %}

{% assign pi = site.array %}

{% assign phd-students = site.array %}

{% assign alumni = site.data.alumni | sort: 'surname' %}


{% for person in people %}

  {% if person.role == 'lab-manager' %}
    {% assign lab-manager = lab-manager | push: person %}
  {% elsif person.role == 'phd-students' %}
    {% assign phd-students = phd-students | push: person %}
  {% elsif person.role == 'pi' %}
    {% assign pi = pi | push: person %}
  {% elsif person.role == 'postdocs' %}
    {% assign postdocs = postdocs | push: person %}
  {% endif %}

{% endfor %}

<div class="people">


    {% for person in pi %} {% if forloop.first == true %}
    <div id="{{ person.role }}" style="padding: 6rem 0">
      <h3 class="docs-header"><a href="#{{ person.role }}">Principal Investigator</a></h3> {% endif %}
      <a class="person-anchor" id="{{ person.firstname | remove:  ' C.'  }}-{{ person.surname}}"></a>
      <div class="person">
        <span class="name"><a href="#{{ person.firstname  | remove: ' C.'  }}-{{ person.surname }}">{{ person.firstname }} {{ person.surname }}</a></span>
        <ul>
          {% if person.email != nil %}
          <li><a href="mailto:{{ person.email }}" title="Email {{ person.firstname }} {{ person.surname}}" style="text-decoration:none">
                                            <i class="fa fa-envelope"></i></a></li>
          </li>
          {% endif %} {% if person.github != nil %}
          <li><a href="//github.com/{{ person.github}}" title="Fork {{ person.firstname }} {{ person.surname}} on GitHub" style="text-decoration:none">
                                            <i class="fab fa-github"></i></a></li>
          {% endif %} {% if person.twitter != nil %}
          <li><a href="//twitter.com/{{ person.twitter }}" title="Follow {{ person.firstname }} {{ person.surname}} on Twitter" style="text-decoration:none">
                                            <i class="fab fa-twitter"></i></a></li>
          {% endif %} {% if person.impactstory != nil %}
          <li><a href="//impactstory.org/u/{{ person.impactstory }}" title="View {{ person.firstname }} {{ person.surname}}'s Impactstory" style="text-decoration:none">
                                            <i class="ai ai-impactstory"></i></a></li>
          {% endif %} {% if person.orcid != nil %}
          <li><a href="//orcid.org/{{ person.orcid }}" title="View {{ person.firstname }} {{ person.surname}}'s ORCID profile" style="text-decoration:none">
                                            <i class="ai ai-orcid"></i></a></li>
          {% endif %} {% if person.researchgate != nil %}
          <li><a href="//www.researchgate.net/profile/{{ person.researchgate }}" title="Follow {{ person.firstname }} {{ person.surname}} on ResearchGate" style="text-decoration:none">
                                            <i class="ai ai-researchgate"></i></a></li>
          {% endif %} {% if person.website != nil %}
          <li><a href="{{ person.website }}" title="Visit {{ person.firstname }} {{ person.surname}}'s website" style="text-decoration:none">
                                            <i class="fas fa-external-link-square-alt"></i></a></li>
          {% endif %}
        </ul>

        <div class="image">
          <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname}}" alt="{{ person.firstname }} {{ person.surname}}" />
        </div>
        <p>{{ person.bio }}</p>

      </div>
      {% endfor %}
    </div>
  </div>
  <!--
  <div class="lab-manager">

    {% for person in lab-manager %} {% if forloop.first == true %}
    <div id="{{ person.role }}" style="padding: 6rem 0">
      <h3 class="docs-header"><a href="#{{ person.role }}">Lab Manager</a></h3> {% endif %}
      <a class="person-anchor" id="{{ person.firstname }}-{{ person.surname }}"></a>
      <div class="person">
        <span class="name"><a href="#{{ person.firstname }}-{{ person.surname }}">{{ person.firstname }} {{ person.surname }}</a></span>
        <ul>
          {% if person.email != nil %}
          <li><a href="mailto:{{ person.email }}" title="Email {{ person.firstname }} {{ person.surname}}" style="text-decoration:none">
                                            <i class="fa fa-envelope"></i></a></li>
          </li>
          {% endif %} {% if person.github != nil %}
          <li><a href="//github.com/{{ person.github}}" title="Fork {{ person.firstname }} {{ person.surname}} on GitHub" style="text-decoration:none">
                                            <i class="fab fa-github"></i></a></li>
          {% endif %} {% if person.twitter != nil %}
          <li><a href="//twitter.com/{{ person.twitter }}" title="Follow {{ person.firstname }} {{ person.surname}} on Twitter" style="text-decoration:none">
                                            <i class="fab fa-twitter"></i></a></li>
          {% endif %} {% if person.impactstory != nil %}
          <li><a href="//impactstory.org/u/{{ person.impactstory }}" title="View {{ person.firstname }} {{ person.surname}}'s Impactstory" style="text-decoration:none">
                                            <i class="ai ai-impactstory"></i></a></li>
          {% endif %} {% if person.orcid != nil %}
          <li><a href="//orcid.org/{{ person.orcid }}" title="View {{ person.firstname }} {{ person.surname}}'s ORCID profile" style="text-decoration:none">
                                            <i class="ai ai-orcid"></i></a></li>
          {% endif %} {% if person.researchgate != nil %}
          <li><a href="//www.researchgate.net/profile/{{ person.researchgate }}" title="Follow {{ person.firstname }} {{ person.surname}} on ResearchGate" style="text-decoration:none">
                                            <i class="ai ai-researchgate"></i></a></li>
          {% endif %} {% if person.website != nil %}
          <li><a href="{{ person.website }}" title="Visit {{ person.firstname }} {{ person.surname}}'s website" style="text-decoration:none">
                                            <i class="fas fa-external-link-square-alt"></i></a></li>
          {% endif %}
        </ul>

        <div class="image">
          <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname}}" alt="{{ person.firstname }} {{ person.surname}}" />
        </div>
        <p>{{ person.bio }}</p>

      </div>
      {% endfor %}
    </div>
  </div> -->

  <div class="postdocs">

    {% for person in postdocs %} {% if forloop.first == true %}
    <div id="{{ person.role }}" style="padding: 6rem 0">
      <h3 class="docs-header"><a href="#{{ person.role }}">Postdocs</a></h3> {% endif %}
      <a class="person-anchor" id="{{ person.firstname }}-{{ person.surname }}"></a>
      <div class="person">
        <span class="name"><a href="#{{ person.firstname }}-{{ person.surname }}">{{ person.firstname }} {{ person.surname }}</a></span>
        <ul>
          {% if person.email != nil %}
          <li><a href="mailto:{{ person.email }}" title="Email {{ person.firstname }} {{ person.surname}}" style="text-decoration:none">
                                            <i class="fa fa-envelope"></i></a></li>
          </li>
          {% endif %} {% if person.github != nil %}
          <li><a href="//github.com/{{ person.github}}" title="Fork {{ person.firstname }} {{ person.surname}} on GitHub" style="text-decoration:none">
                                            <i class="fab fa-github"></i></a></li>
          {% endif %} {% if person.twitter != nil %}
          <li><a href="//twitter.com/{{ person.twitter }}" title="Follow {{ person.firstname }} {{ person.surname}} on Twitter" style="text-decoration:none">
                                            <i class="fab fa-twitter"></i></a></li>
          {% endif %} {% if person.impactstory != nil %}
          <li><a href="//impactstory.org/u/{{ person.impactstory }}" title="View {{ person.firstname }} {{ person.surname}}'s Impactstory" style="text-decoration:none">
                                            <i class="ai ai-impactstory"></i></a></li>
          {% endif %} {% if person.orcid != nil %}
          <li><a href="//orcid.org/{{ person.orcid }}" title="View {{ person.firstname }} {{ person.surname}}'s ORCID profile" style="text-decoration:none">
                                            <i class="ai ai-orcid"></i></a></li>
          {% endif %} {% if person.researchgate != nil %}
          <li><a href="//www.researchgate.net/profile/{{ person.researchgate }}" title="Follow {{ person.firstname }} {{ person.surname}} on ResearchGate" style="text-decoration:none">
                                            <i class="ai ai-researchgate"></i></a></li>
          {% endif %} {% if person.website != nil %}
          <li><a href="{{ person.website }}" title="Visit {{ person.firstname }} {{ person.surname}}'s website" style="text-decoration:none">
                                            <i class="fas fa-external-link-square-alt"></i></a></li>
          {% endif %}
        </ul>

        <div class="image">
          <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname}}" alt="{{ person.firstname }} {{ person.surname}}" />
        </div>
        <p>{{ person.bio }}</p>

      </div>
      {% endfor %}
    </div>
  </div>
  <div class="phd-students">

    {% for person in phd-students %} {% if forloop.first == true %}
    <div id="{{ person.role }}" style="padding: 6rem 0">
      <h3 class="docs-header"><a href="#{{ person.role }}">PhD Students</a></h3> {% endif %}
      <a class="person-anchor" id="{{ person.firstname }}-{{ person.surname }}"></a>
      <div class="person">
        <span class="name"><a href="#{{ person.firstname }}-{{ person.surname }}">{{ person.firstname }} {{ person.surname }}</a></span>
        <ul>
          {% if person.email != nil %}
          <li><a href="mailto:{{ person.email }}" title="Email {{ person.firstname }} {{ person.surname}}" style="text-decoration:none">
                                            <i class="fa fa-envelope"></i></a></li>
          </li>
          {% endif %} {% if person.github != nil %}
          <li><a href="//github.com/{{ person.github}}" title="Fork {{ person.firstname }} {{ person.surname}} on GitHub" style="text-decoration:none">
                                            <i class="fab fa-github"></i></a></li>
          {% endif %} {% if person.twitter != nil %}
          <li><a href="//twitter.com/{{ person.twitter }}" title="Follow {{ person.firstname }} {{ person.surname}} on Twitter" style="text-decoration:none">
                                            <i class="fab fa-twitter"></i></a></li>
          {% endif %} {% if person.impactstory != nil %}
          <li><a href="//impactstory.org/u/{{ person.impactstory }}" title="View {{ person.firstname }} {{ person.surname}}'s Impactstory" style="text-decoration:none">
                                            <i class="ai ai-impactstory"></i></a></li>
          {% endif %} {% if person.orcid != nil %}
          <li><a href="//orcid.org/{{ person.orcid }}" title="View {{ person.firstname }} {{ person.surname}}'s ORCID profile" style="text-decoration:none">
                                            <i class="ai ai-orcid"></i></a></li>
          {% endif %} {% if person.researchgate != nil %}
          <li><a href="//www.researchgate.net/profile/{{ person.researchgate }}" title="Follow {{ person.firstname }} {{ person.surname}} on ResearchGate" style="text-decoration:none">
                                            <i class="ai ai-researchgate"></i></a></li>
          {% endif %} {% if person.website != nil %}
          <li><a href="{{ person.website }}" title="Visit {{ person.firstname }} {{ person.surname}}'s website" style="text-decoration:none">
                                            <i class="fas fa-external-link-square-alt"></i></a></li>
          {% endif %}
        </ul>

        <div class="image">
          <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname}}" alt="{{ person.firstname }} {{ person.surname}}" />
        </div>
        <p>{{ person.bio }}</p>

      </div>
      {% endfor %}
    </div>
  </div>

<!--
  <div class="alumni">
    <div id="alumni" style="padding: 6rem 0">
      <h3 class="docs-header"><a href="#alumni">Alumni</a></h3><ul class="alumni">
    {% for alumnus in alumni %}
          <li class="alumnus">{{ alumnus.firstname }} {{ alumnus.surname }} ({{ alumnus.years }})</li>
      {% endfor %}
    </ul>

If we missed you, please get in touch.
</div>
  </div>
-->
