<p class = "social">
  <a href="//twitter.com/ProfData"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="//osf.io/97evc/"><i class="ai ai-osf" aria-hidden="true"></i></a>
  <a href="//scholar.google.co.uk/citations?user=H8dnlegAAAAJ&hl=en"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
  <a href="//orcid.org/0000-0002-7883-7076"><i class="ai ai-orcid" aria-hidden="true"></i></a>
  <a href="{{site.baseurl }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
</p>
