<p class = "social">
  <a href="//scholar.google.co.uk/citations?user=H8dnlegAAAAJ&hl=en"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
  <a href="//x.com/ProfData"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
  <a href="//linkedin.com/in/brad-love-71baaa15/"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
  <a href="//bsky.app/profile/profdata.bsky.social"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></a>
  <a href="//osf.io/97evc/"><i class="ai ai-osf" aria-hidden="true"></i></a>
  <a href="//orcid.org/0000-0002-7883-7076"><i class="ai ai-orcid" aria-hidden="true"></i></a>
  <a href="{{site.baseurl }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
</p>
