<p class = "social">
  <a href="https://twitter.com/DrLoveBC"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href= "https://www.researchgate.net/profile/Bradley_Love"><i class="ai ai-researchgate"></i></a>
  <a href= "https://scholar.google.co.uk/citations?user=H8dnlegAAAAJ&hl=en"><i class="ai ai-google-scholar"></i></a>
  <a href="http://orcid.org/0000-0002-7883-7076"><i class="ai ai-orcid"></i></a>
  <a href="{{site.baseurl }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
</p>
