<!DOCTYPE html>
<!--
Hello internet user,
For the love of all that is worth loving *please*
if you copy-paste this to use for your own
website, try to change the Google analytics code
to yours or just remove it.
Feel free to contact me on the repo: 
https://github.com/oliviaguest/bradlove.org
if you need help with anything! :)
Cheers,
Olivia
-->

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
     
  <!-- Redirect for when page not found
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if page.url == "/404" %}
   <meta http-equiv="refresh" content="3; url={{ site.baseurl }}">
  {% endif %}

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/academicons/css/academicons.css"/>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/github-prettify-theme.css">
  <script src="{{ site.baseurl }}/js/site.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/megaphone.png">
  
    <!-- Facebook
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if page.url == '/lab' %}
     <meta property="og:image" content="{{site.baseurl}}images/header/dark/mack_etal_2013.png" />
  {% else %}
       <meta property="og:image" content="{{site.baseurl}}images/banner.png" />
  {% endif %}
  
  <!-- XML Feed
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>
<body class="code-snippets-visible">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     
     {{ content }}

     <div class="wrapper-footer">
     <div class="container">
       <footer class="footer">
       <a href="{{ site.baseurl }}/license" style="text-decoration: none; color: #888; padding:auto">Bradley C. Love 2016<!-- 2016–{{ site.time | date: '%y' }}--></a>
       </footer>
     </div>
     </div>


<!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) -->

<!-- Google Analytics -->
{% include analytics.html %}

<!-- Discus coment count script -->
<script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>
