---
layout: base
---

<div class="container" id = "intro">

 {% include header.html %}
       
 {% include navigation.html %}

 <div class="section main">
     <div class="row">
       <div class="three columns address">
         
           {% include social.html %}

           <div class = "funding top-column1"> <!-- giving it own class because we need to move to bottom on smaller screens -->

             <h6 class="docs-header">Funded by</h6>
                 {% include funding.html %}

           </div>
           
           <div class = "tweets"> <!-- giving it own class because we need to hide it on smaller screens -->
           <h6 class="docs-header">Tweets</h6>         
                {% include twitter.html %}
           </div>

       </div>
       
       <div class="nine columns" > 

         {{ content }}

             <div class = "funding bottom-column2 docs-section examples"> <!-- giving it own class because we need to move to bottom on smaller screens -->
             <h4>Funded by</h4>
                 {% include funding.html %}
             </div>
       </div>
     </div>


         
   </div>
</div>
