---
layout: base
---

<div class="container">

 {% include header.html %}

 {% include navigation.html %}

 <div class="section main">
     <div class="row">
       <div class="three columns address">

            {% include address.html %}
             {% include social.html %}


           <div class = "funding top-column1"> <!-- giving it own class because we need to move to bottom on smaller screens -->
             <h2 class="docs-header">Funded by</h2>
                 {% include funding.html %}
           </div>

           <div class = "tweets"> <!-- giving it own class because we need to hide it on smaller screens -->
           <h2 class="docs-header">Tweets</h2>
                {% include twitter.html %}
           </div>

       </div>

       <div class="nine columns" >

         {{ content }}

         <div class = "bottom-column2 docs-section examples"> <!-- giving it own class because we need to move to bottom on smaller screens -->
             <h2>Tweets</h2>
                 {% include twitter.html %}
         </div>

         <div class = "funding bottom-column2 docs-section examples"> <!-- giving it own class because we need to move to bottom on smaller screens -->
             <h2>Funded by</h2>
                 {% include funding.html %}
         </div>

       </div>
     </div>



   </div>
</div>
