<!DOCTYPE html>
<!--
Hello internet user,
For the love of all that is worth loving *please*
if you copy-paste this to use for your own
website, try to change the Google analytics code
to yours or just remove it.
Feel free to contact me on the repo: 
https://github.com/oliviaguest/bradlove.org
if you need help with anything! :)
Cheers,
Olivia
-->

{% if page.url == site.baseurl"/publications" -%}
     {% redirect = site.baseurl"#publications" -%}
{% endif -%}

<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Bradley C. Love</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/academicons/css/academicons.css"/>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/github-prettify-theme.css">
  <script src="{{ site.baseurl }}/js/site.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/megaphone.png">

</head>
<body class="code-snippets-visible">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


   {{ content }}


<!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) -->

  <!-- Google Analytics -->
{% include analytics.html %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
