---
layout: blog
---

<div class="docs-section examples top">
<article class="post">
  <h2>{{ page.title }}</h2>

  <div class ="date">Published on <a href="{{ site.url }}{{ page.url }}">{{ page.date | date: "%B %e, %Y" }}</a>, by {{ page.author }}
  — <a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-url="{{ site.url }}{{ page.url }}">Comments</a>
</div>



  <div class="entry">
    {{ content }}
  </div>

  <h5 id="share" class="docs-header" style="font-size: 2rem">Share</h5>
  {% include sharethis.html %}

  {% include disqus.html %}
</article>
</div>
